@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kaisei+Decol&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,input {
    font-family: "Fira Sans", sans-serif;
    background-image: url("bg6.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
  
  
  h1,h2,h3,p {
    font-family: "Kaisei Decol", serif;
    padding: 0.3em 0.75em;
  }

  h1 {
    background-color: #78ADD2;
  }
  
  img{
    width: auto;
    height: 9vh;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

 .container {
    background-color: #fff;
    /*border: blue 1px solid;*/
    background-color: white;
    display: flexbox;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    align-content: center;
    margin: 10em 27em;
  }

  .otp_main, .resend_otp {
    padding: 0 1em;
  }

  input, button {
    background: white;
    margin-left: 15px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #mand {
    color: red;
  }

  button {
    margin: 1em;
  }
